@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Poppins-Regular.ttf');
  }
  @font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Poppins-SemiBold.ttf');
  }
  @font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/Poppins-Bold.ttf');
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f172a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


p {
  color: #94a3b8;
}

a {
  color: #94a3b8;
}