@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Poppins-SemiBold.ttf");
  }
  @font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/Poppins-Italic.ttf");
  }

  html {
    --color-primary: #090925;
    --color-tags: #7af0ff;
    --color-text-tags: #141e37;
    --color-text-primary: #6d6f93;
    --color-text-title: #ffffff;
    --color-text-section-title: #93f2ff;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .glass {
    background: rgba(255, 255, 255, 0.04);
    border-radius: 0.4 rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.13);
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Poppins, sans-serif, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-text-primary);
  background-color: var(--color-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

.spotlight {
  width: 60rem;
  height: 60rem;
  border-radius: 50%;
  background: radial-gradient(#ffffff15 0%, transparent 50%);
  position: fixed;
  left: var(--mouse-x);
  top: var(--mouse-y);
  z-index: 1;
}
